# window installation config file
/odoo.conf
/odoo_install.sh
/odoo_v18.code-workspace
/accounting_pdf_reports
/canadadici_addons/__pycache__
/canadadici_account/__pycache__
/canadadici_sales/__pycache__
/canadadici_stock/__pycache__
/canadadici_website/__pycache__
/base_account_budget
/base_accounting_kit
/bi_pos_restrict_zero_qty
/customer_partner_ledger
/emab_gn
/harmony_vars
/jallow_addons
/jallow_addons_food
/jallow_addons_emab/__pycache__
/jallow_vars/__pycache__
/izi_data
/muk_web_appsbar
/muk_web_chatter
/muk_web_colors
/muk_web_dialog
/muk_web_theme
/odoo_twilio_sms
/om_account_accountant
/om_account_asset
/om_account_budget
/om_account_daily_reports
/om_account_followup
/om_fiscal_year
/om_recurring_payments
/pos_cash_restriction
/pos_receipt_extend
/report_qweb_element_page_visibility
/sms_msg91
/sale_stock_restrict
/website_sale_address_management

# odoo files
/README_Odoo.md

# dotfiles
.*
.gitignore
/.gitignore
!.gitignore
!.github

# hg stuff
*.orig
status
odoo

# odoo filestore
/filestore

# js tooling
jsconfig.json
tsconfig.json