# window installation config file
/odoo.conf
/odoo_install.sh
/odoo_v18.code-workspace
/canadadici_addons/__pycache__
/base_account_budget
/base_accounting_kit
/bi_pos_restrict_zero_qty
/pos_receipt_extend
/jallow_addons
/sale_stock_restrict
/report_qweb_element_page_visibility
/website_sale_address_management


# odoo files
/README_Odoo.md

# dotfiles
.*
.gitignore
/.gitignore
!.gitignore
!.github

# hg stuff
*.orig
status
odoo

# odoo filestore
/filestore

# js tooling
jsconfig.json
tsconfig.json